In [1]:
import pandas as pd

In [2]:
bitcoin_file = "CSVs/bitcoin_price.csv"
ethereum_file = "CSVs/ethereum_price.csv"
litecoin_file = "CSVs/litecoin_price.csv"
ripple_file = "CSVs/ripple_price.csv"
dash_file = "CSVs/dash_price.csv"

In [3]:
bitcoin_file_df = pd.read_csv(bitcoin_file, encoding="ISO-8859-1")
ethereum_file_df = pd.read_csv(ethereum_file, encoding="ISO-8859-1")
litecoin_file_df = pd.read_csv(litecoin_file, encoding="ISO-8859-1")
ripple_file_df = pd.read_csv(ripple_file, encoding="ISO-8859-1")
dash_file_df = pd.read_csv(dash_file, encoding="ISO-8859-1")

In [4]:
bitcoin_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Feb 20, 2018",11231.80,11958.50,11231.80,11403.70,"9,926,540,000","189,536,000,000"
1,"Feb 19, 2018",10552.60,11273.80,10513.20,11225.30,"7,652,090,000","178,055,000,000"
2,"Feb 18, 2018",11123.40,11349.80,10326.00,10551.80,"8,744,010,000","187,663,000,000"
3,"Feb 17, 2018",10207.50,11139.50,10149.40,11112.70,"8,660,880,000","172,191,000,000"
4,"Feb 16, 2018",10135.70,10324.10,9824.82,10233.90,"7,296,160,000","170,960,000,000"
5,"Feb 15, 2018",9488.32,10234.80,9395.58,10166.40,"9,062,540,000","160,025,000,000"
6,"Feb 14, 2018",8599.92,9518.54,8599.92,9494.63,"7,909,820,000","145,023,000,000"
7,"Feb 13, 2018",8926.72,8958.47,8455.41,8598.31,"5,696,720,000","150,516,000,000"
8,"Feb 12, 2018",8141.43,8985.92,8141.43,8926.57,"6,256,440,000","137,258,000,000"
9,"Feb 11, 2018",8616.13,8616.13,7931.10,8129.97,"6,122,190,000","145,245,000,000"

In [5]:
bitcoin_file_df['Symbol'] = 'BTC'

In [6]:
new_bitcoin_file_df = bitcoin_file_df
new_bitcoin_file_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",11231.8,11958.5,11231.80,11403.7,"9,926,540,000","189,536,000,000",BTC
1,"Feb 19, 2018",10552.6,11273.8,10513.20,11225.3,"7,652,090,000","178,055,000,000",BTC
2,"Feb 18, 2018",11123.4,11349.8,10326.00,10551.8,"8,744,010,000","187,663,000,000",BTC
3,"Feb 17, 2018",10207.5,11139.5,10149.40,11112.7,"8,660,880,000","172,191,000,000",BTC
4,"Feb 16, 2018",10135.7,10324.1,9824.82,10233.9,"7,296,160,000","170,960,000,000",BTC

In [7]:
ethereum_file_df.head(10)

           Date    Open    High     Low   Close         Volume      Market Cap
0  Feb 20, 2018  943.57  965.26  892.95  895.37  2,545,260,000  92,206,500,000
1  Feb 19, 2018  921.67  957.78  921.55  943.87  2,169,020,000  90,047,700,000
2  Feb 18, 2018  973.35  982.93  915.45  923.92  2,567,290,000  95,077,100,000
3  Feb 17, 2018  944.75  976.60  940.75  974.12  2,525,720,000  92,264,000,000
4  Feb 16, 2018  934.79  950.00  917.85  944.21  2,369,450,000  91,272,100,000
5  Feb 15, 2018  923.73  951.95  911.11  936.98  2,900,100,000  90,173,300,000
6  Feb 14, 2018  844.28  926.43  844.28  923.56  2,818,370,000  82,400,600,000
7  Feb 13, 2018  869.29  870.71  828.84  845.26  2,081,170,000  84,824,200,000
8  Feb 12, 2018  817.51  875.94  817.51  868.71  2,243,450,000  79,754,400,000
9  Feb 11, 2018  859.29  859.29  788.22  814.66  2,486,650,000  83,813,000,000

In [8]:
ethereum_file_df['Symbol'] = 'ETH'
new_ethereum_file_df = ethereum_file_df
new_ethereum_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",943.57,965.26,892.95,895.37,"2,545,260,000","92,206,500,000",ETH
1,"Feb 19, 2018",921.67,957.78,921.55,943.87,"2,169,020,000","90,047,700,000",ETH
2,"Feb 18, 2018",973.35,982.93,915.45,923.92,"2,567,290,000","95,077,100,000",ETH
3,"Feb 17, 2018",944.75,976.60,940.75,974.12,"2,525,720,000","92,264,000,000",ETH
4,"Feb 16, 2018",934.79,950.00,917.85,944.21,"2,369,450,000","91,272,100,000",ETH
5,"Feb 15, 2018",923.73,951.95,911.11,936.98,"2,900,100,000","90,173,300,000",ETH
6,"Feb 14, 2018",844.28,926.43,844.28,923.56,"2,818,370,000","82,400,600,000",ETH
7,"Feb 13, 2018",869.29,870.71,828.84,845.26,"2,081,170,000","84,824,200,000",ETH
8,"Feb 12, 2018",817.51,875.94,817.51,868.71,"2,243,450,000","79,754,400,000",ETH
9,"Feb 11, 2018",859.29,859.29,788.22,814.66,"2,486,650,000","83,813,000,000",ETH

In [9]:
litecoin_file_df.head(10)

           Date    Open    High     Low   Close         Volume      Market Cap
0  Feb 20, 2018  223.09  253.90  222.51  232.85  1,739,670,000  12,335,100,000
1  Feb 19, 2018  215.41  226.97  215.38  223.06    767,597,000  11,907,900,000
2  Feb 18, 2018  230.51  232.64  214.46  215.74  1,011,120,000  12,738,800,000
3  Feb 17, 2018  229.50  233.45  225.60  229.47    863,401,000  12,679,700,000
4  Feb 16, 2018  225.50  236.09  212.33  230.12  1,300,090,000  12,455,300,000
5  Feb 15, 2018  212.35  237.88  211.17  225.43  2,087,290,000  11,725,700,000
6  Feb 14, 2018  159.58  218.23  159.58  213.36  2,383,340,000   8,809,590,000
7  Feb 13, 2018  161.78  162.37  153.51  159.55    483,468,000   8,928,360,000
8  Feb 12, 2018  150.10  163.35  150.10  161.57    535,710,000   8,282,050,000
9  Feb 11, 2018  155.39  155.73  142.61  148.99    495,720,000   8,571,530,000

In [10]:
litecoin_file_df['Symbol'] = 'LTC-USD'
new_litecoin_file_df = litecoin_file_df
new_litecoin_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",223.09,253.90,222.51,232.85,"1,739,670,000","12,335,100,000",LTC-USD
1,"Feb 19, 2018",215.41,226.97,215.38,223.06,"767,597,000","11,907,900,000",LTC-USD
2,"Feb 18, 2018",230.51,232.64,214.46,215.74,"1,011,120,000","12,738,800,000",LTC-USD
3,"Feb 17, 2018",229.50,233.45,225.60,229.47,"863,401,000","12,679,700,000",LTC-USD
4,"Feb 16, 2018",225.50,236.09,212.33,230.12,"1,300,090,000","12,455,300,000",LTC-USD
5,"Feb 15, 2018",212.35,237.88,211.17,225.43,"2,087,290,000","11,725,700,000",LTC-USD
6,"Feb 14, 2018",159.58,218.23,159.58,213.36,"2,383,340,000","8,809,590,000",LTC-USD
7,"Feb 13, 2018",161.78,162.37,153.51,159.55,"483,468,000","8,928,360,000",LTC-USD
8,"Feb 12, 2018",150.10,163.35,150.10,161.57,"535,710,000","8,282,050,000",LTC-USD
9,"Feb 11, 2018",155.39,155.73,142.61,148.99,"495,720,000","8,571,530,000",LTC-USD

In [11]:
ripple_file_df.head(10)

           Date  Open  High       Low  Close         Volume      Market Cap
0  Feb 20, 2018  1.14  1.17  1.080000   1.09    806,673,000  44,648,100,000
1  Feb 19, 2018  1.12  1.17  1.120000   1.14    556,304,000  43,813,300,000
2  Feb 18, 2018  1.20  1.21  1.090000   1.12  1,113,650,000  46,997,500,000
3  Feb 17, 2018  1.14  1.22  1.130000   1.20  1,186,730,000  44,370,200,000
4  Feb 16, 2018  1.14  1.15  1.110000   1.14    568,339,000  44,663,300,000
5  Feb 15, 2018  1.14  1.16  1.110000   1.15  1,188,530,000  44,433,600,000
6  Feb 14, 2018  1.03  1.17  1.020000   1.14  1,457,600,000  40,026,500,000
7  Feb 13, 2018  1.08  1.08  1.010000   1.03    921,100,000  42,119,800,000
8  Feb 12, 2018  1.01  1.11  1.010000   1.08  1,756,290,000  39,262,700,000
9  Feb 11, 2018  1.07  1.08  0.929767   1.00  2,555,310,000  41,635,500,000

In [12]:
ripple_file_df['Symbol'] = 'XRP-USD'
new_ripple_file_df = ripple_file_df
new_ripple_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",1.14,1.17,1.080000,1.09,"806,673,000","44,648,100,000",XRP-USD
1,"Feb 19, 2018",1.12,1.17,1.120000,1.14,"556,304,000","43,813,300,000",XRP-USD
2,"Feb 18, 2018",1.20,1.21,1.090000,1.12,"1,113,650,000","46,997,500,000",XRP-USD
3,"Feb 17, 2018",1.14,1.22,1.130000,1.20,"1,186,730,000","44,370,200,000",XRP-USD
4,"Feb 16, 2018",1.14,1.15,1.110000,1.14,"568,339,000","44,663,300,000",XRP-USD
5,"Feb 15, 2018",1.14,1.16,1.110000,1.15,"1,188,530,000","44,433,600,000",XRP-USD
6,"Feb 14, 2018",1.03,1.17,1.020000,1.14,"1,457,600,000","40,026,500,000",XRP-USD
7,"Feb 13, 2018",1.08,1.08,1.010000,1.03,"921,100,000","42,119,800,000",XRP-USD
8,"Feb 12, 2018",1.01,1.11,1.010000,1.08,"1,756,290,000","39,262,700,000",XRP-USD
9,"Feb 11, 2018",1.07,1.08,0.929767,1.00,"2,555,310,000","41,635,500,000",XRP-USD

In [13]:
dash_file_df.head(10)

           Date    Open    High     Low   Close       Volume     Market Cap
0  Feb 20, 2018  728.99  738.74  685.04  685.04  126,208,000  5,754,970,000
1  Feb 19, 2018  687.70  731.11  687.22  728.73   89,328,600  5,427,640,000
2  Feb 18, 2018  744.09  747.42  673.57  689.28   96,752,600  5,871,020,000
3  Feb 17, 2018  699.13  748.89  693.64  742.16  116,106,000  5,515,090,000
4  Feb 16, 2018  702.53  722.02  684.28  698.86  100,343,000  5,540,570,000
5  Feb 15, 2018  679.79  705.67  667.21  703.86  116,822,000  5,359,910,000
6  Feb 14, 2018  593.59  685.12  593.59  678.98  138,992,000  4,679,080,000
7  Feb 13, 2018  622.12  625.75  583.40  595.47   73,287,300  4,902,660,000
8  Feb 12, 2018  582.83  626.77  582.83  620.56   76,646,200  4,591,910,000
9  Feb 11, 2018  633.43  633.43  561.91  580.02   81,111,400  4,989,410,000

In [14]:
dash_file_df['Symbol'] = 'DASH-USD'
new_dash_file_df = dash_file_df
new_dash_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",728.99,738.74,685.04,685.04,"126,208,000","5,754,970,000",DASH-USD
1,"Feb 19, 2018",687.70,731.11,687.22,728.73,"89,328,600","5,427,640,000",DASH-USD
2,"Feb 18, 2018",744.09,747.42,673.57,689.28,"96,752,600","5,871,020,000",DASH-USD
3,"Feb 17, 2018",699.13,748.89,693.64,742.16,"116,106,000","5,515,090,000",DASH-USD
4,"Feb 16, 2018",702.53,722.02,684.28,698.86,"100,343,000","5,540,570,000",DASH-USD
5,"Feb 15, 2018",679.79,705.67,667.21,703.86,"116,822,000","5,359,910,000",DASH-USD
6,"Feb 14, 2018",593.59,685.12,593.59,678.98,"138,992,000","4,679,080,000",DASH-USD
7,"Feb 13, 2018",622.12,625.75,583.40,595.47,"73,287,300","4,902,660,000",DASH-USD
8,"Feb 12, 2018",582.83,626.77,582.83,620.56,"76,646,200","4,591,910,000",DASH-USD
9,"Feb 11, 2018",633.43,633.43,561.91,580.02,"81,111,400","4,989,410,000",DASH-USD

In [15]:
new_dash_file_df['Close Increase'] = new_dash_file_df['Close'] - new_dash_file_df['Close'].shift(-1)

final_dash_df = new_dash_file_df
final_dash_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol,Close Increase
0,"Feb 20, 2018",728.99,738.74,685.04,685.04,"126,208,000","5,754,970,000",DASH-USD,-43.69
1,"Feb 19, 2018",687.70,731.11,687.22,728.73,"89,328,600","5,427,640,000",DASH-USD,39.45
2,"Feb 18, 2018",744.09,747.42,673.57,689.28,"96,752,600","5,871,020,000",DASH-USD,-52.88
3,"Feb 17, 2018",699.13,748.89,693.64,742.16,"116,106,000","5,515,090,000",DASH-USD,43.30
4,"Feb 16, 2018",702.53,722.02,684.28,698.86,"100,343,000","5,540,570,000",DASH-USD,-5.00
5,"Feb 15, 2018",679.79,705.67,667.21,703.86,"116,822,000","5,359,910,000",DASH-USD,24.88
6,"Feb 14, 2018",593.59,685.12,593.59,678.98,"138,992,000","4,679,080,000",DASH-USD,83.51
7,"Feb 13, 2018",622.12,625.75,583.40,595.47,"73,287,300","4,902,660,000",DASH-USD,-25.09
8,"Feb 12, 2018",582.83,626.77,582.83,620.56,"76,646,200","4,591,910,000",DASH-USD,40.54
9,"Feb 11, 2018",633.43,633.43,561.91,580.02,"81,111,400","4,989,410,000",DASH-USD,-54.08

In [28]:
final_dash_df['Volume'] = final_dash_df['Volume'].str.replace(",", "").astype(int)

final_dash_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol,Close Increase
0,"Feb 20, 2018",728.99,738.74,685.04,685.04,126208000,"5,754,970,000",DASH-USD,-43.69
1,"Feb 19, 2018",687.70,731.11,687.22,728.73,89328600,"5,427,640,000",DASH-USD,39.45
2,"Feb 18, 2018",744.09,747.42,673.57,689.28,96752600,"5,871,020,000",DASH-USD,-52.88
3,"Feb 17, 2018",699.13,748.89,693.64,742.16,116106000,"5,515,090,000",DASH-USD,43.30
4,"Feb 16, 2018",702.53,722.02,684.28,698.86,100343000,"5,540,570,000",DASH-USD,-5.00

In [29]:
final_dash_df['Volume Increase'] = final_dash_df['Volume'] - final_dash_df['Volume'].shift(-1)

final_dash_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol,Close Increase,Volume Increase
0,"Feb 20, 2018",728.99,738.74,685.04,685.04,126208000,"5,754,970,000",DASH-USD,-43.69,36879400.0
1,"Feb 19, 2018",687.70,731.11,687.22,728.73,89328600,"5,427,640,000",DASH-USD,39.45,-7424000.0
2,"Feb 18, 2018",744.09,747.42,673.57,689.28,96752600,"5,871,020,000",DASH-USD,-52.88,-19353400.0
3,"Feb 17, 2018",699.13,748.89,693.64,742.16,116106000,"5,515,090,000",DASH-USD,43.30,15763000.0
4,"Feb 16, 2018",702.53,722.02,684.28,698.86,100343000,"5,540,570,000",DASH-USD,-5.00,-16479000.0
5,"Feb 15, 2018",679.79,705.67,667.21,703.86,116822000,"5,359,910,000",DASH-USD,24.88,-22170000.0
6,"Feb 14, 2018",593.59,685.12,593.59,678.98,138992000,"4,679,080,000",DASH-USD,83.51,65704700.0
7,"Feb 13, 2018",622.12,625.75,583.40,595.47,73287300,"4,902,660,000",DASH-USD,-25.09,-3358900.0
8,"Feb 12, 2018",582.83,626.77,582.83,620.56,76646200,"4,591,910,000",DASH-USD,40.54,-4465200.0
9,"Feb 11, 2018",633.43,633.43,561.91,580.02,81111400,"4,989,410,000",DASH-USD,-54.08,-35285600.0